.notification {
  border-radius: 0.5rem;
  width: 20rem;
  height: 3rem;
  border-width: 0.2rem;
  border-style: solid;
  padding: 10px;
  font-weight: 800;
  margin: 0.5rem;
}
.error {
  border-color: red;
  color: red;
}
.success {
  border-color: green;
  color: green;
}
